
* {
	box-sizing: border-box;
	margin: 0;
}

.hide {
	display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: rgba(0, 255, 0, 0.2);
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 1.5em;
    margin-left: .5em;
    cursor: pointer;
}

.top-bar {
	height: 3.5em;
	min-width: 100vw;
	background-color: grey;
	padding: .5em;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.burger-icon {
	font-size: 1.8em;
	cursor:pointer;
	position: absolute;
	top: .1em;
	left: .5em;
}

.name-container {
	display: inline-block;
	margin-left: 1em;
	position: absolute;
	top: .5em;
	left: 2em;
}

.logo {
	height: 34px;
	width: 34px;
	margin-left: 1em;
	margin-top: .1em;
	float: left;
}

.app-name {
	font-size: 1.4em;
	display: inline-block;
	margin-left: .75em;
}

.tag-line {
	font-size: 1em;
	position: absolute;
	top: 2.5em;
	left: 7.2em;
	font-size: .6em;
	overflow: visible;
	margin-top: .2em;
}

form {
	margin-top: 5.6em;
	text-align: center;
}

fieldset {
	border: 0;
}

.category-container {
	width: 100vw;
	position: absolute;
	top: 3.6em;
	right: 0;
	text-align: center;
}

.all-button {
	width: 95vw;
	border: 2px solid black;
	height: 1.8em;
	font-size: 1em;
}

.query {
	border: 1px solid black;
	padding: .5em;
}

.location-query, .category-select, .keyword-query {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: .75em;
}

.submit {
	border: 2px solid black;
	margin-top: 1em;
	padding: 1em;
}

/* Results */
.result-nav {
	font-size: 1em;
	position: fixed;
	width: 100%;
	top: 4em;
	left: 0;
	text-align: center;

}

.display {
	margin-top: 8.5em;
}

.back {
	float: left;
	border: 4px solid black;
	font-size: 1.2em;
}


.change-location {
	width: 50%;
	border: 4px solid black;
	float: left;
	margin-left: 3.5em;
	font-size: .8em;
	margin-top: .6em;
	margin-bottom: .5em;
}

.change-location-button {
	width: 15%;
	border: 4px solid black;
	float: left;
	margin-left: .5em;
	font-size: .9em;
	margin-top: .4em;
	margin-bottom: .5em;
}


.result-alert {
	font-size: 1.1em;
	position: absolute;
	top: 6em;
	left: 0;
	right: 0;
	margin: auto;
	width: 50%;
	color: black;
}

.cPage {
	font-size: .9em;
}

.individual-result {
	border: 2px solid black;
	margin-top: .2em;
	height: 13vh;
	width: 100%;
	position: relative;
	top: 0;
}

.descImg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 20%;
}

.title {
	position: absolute;
	top: 0;
	left: 22%;
	font-size: .9em;
}

.time {
	position: absolute;
	bottom: 3em;
	left: 21%;
	font-size: .7em;
}

.venue {
	position: absolute;
	left: 22%;
	bottom: 1.6em;
	max-width: 50%;
	font-size: .7em;
}

.location {
	position: absolute;
	left: 22%;
	bottom: .25em;
	max-width: 50%;
	font-size: .7em;
}

.bottom-bar {
	position: absolute;
	bottom: 6em;
	left: 0;
	width: 100%;
	z-index: 2;
	text-align: center;
}